.userProfile {
    height: calc(100vh - 64px);
    overflow: auto;
}

.interviewList {
    height: calc(100vh - 64px);
}

@media screen and (max-width:767px){
    .userProfile {
        height: calc(100vh - 64px)
    }
}